body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #E6E3D4;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #B6977F;
  border-radius: 0;
  border-bottom: 10px solid #B6977F;
}

.description{
  white-space: pre-wrap;
  border: 1px  #cdc3b3 dashed;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #D0C3B2;
  color: #fff;
  border: 1px dashed #B6977F;
  border-radius: 15px 0 0 15px;
}

.past {
  background-color: #71877C;
  color: white;
}

.present {
  background-color: #D0C3B2;
  color: white;
}

.future {
  background-color: #B6977F;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #2C2D2D;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

